---
import BaseLayout from '../layouts/Layout.astro';
import PetCard from '../components/shared/PetCard.astro';
import { Image } from 'astro:assets';
import pets from '../data/pets';
import HomeCard from '../components/HomeCard.astro';
import { cards } from '../data/home';

const imagePath = '/src/assets/images/pets_adopt_header.png';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}')

if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<BaseLayout title="cansecadelas.org">
	<div class="w-full mx-auto max-w-screen-xl">
		<div class="grid grid-cols-3 gap-4">
			<div class="col-span-1">
				<Image src={images[imagePath]()} alt="" width={500}/>
			</div>
			<div class="col-span-2 flex justify-center items-center h-full p-6">
				<div class="text-left">
				  <h1 class="lg:text-7xl text-5xl text-blue-900 font-bold font-serif drop-shadow-xl">No compres. Adopta!</h1>
				  <h2 class="lg:text-2xl text-xl text-blue-900 mt-3">Nuestra misión es ayudar a los animales abandonados a encontrar un hogar</h2>
				  <p class="mt-5 mr-5">Somos un agregador de mascotas de las diversas protectoras del territorio gallego. Nuestro propósito es ayudar a las protectoras a que los animales encuentren un hogar lo más rápido posible. Este proyecto nace sin ánimo de lucro y así seguirá siendo siempre.</p>
				  <div class="mt-10">
				  	<a href="/adoptar" class="bg-blue-900 hover:bg-cyan-500 text-white font-bold py-4 px-8 rounded mr-2">Adoptar</a>
					<a href="/adoptar" class="border-2 border-blue-900 hover:bg-cyan-500 text-blue-900 font-bold py-4 px-8 rounded">Protectoras</a>
				  </div>
				</div>
			</div>			  
		</div>
		<div class="grid grid-cols-3 gap-4 p-4 m-4">
			{ cards.map((card) => (
				<HomeCard card={card} />
			))}
		</div>
		<div class="grid grid-cols-3 gap-4 p-4 m-4">
			{ pets.map((pet) => (
				<PetCard pet={pet} />
			))}
		</div>		
	</div>
</BaseLayout>
