---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="cansecadelas.org">
	<div class="w-full mx-auto max-w-screen-xl">
		<div class="bg-gradient-to-b from-cyan-100 from-10% to-transparent">
			<div class="pt-20 pb-5">
				<h1 class="lg:text-7xl text-5xl text-blue-700 font-bold text-center">Adopta, no compres</h1>
				<h2 class="text-center lg:text-2xl text-xl">Our mission is to help musicians and bands find each other</h2>
			</div>
		</div>
		<div class="grid grid-cols-1 gap-4 md:grid-cols-1 lg:grid-cols-4 mt-5 place-content-center">
			Cabera
		</div>
		<div class="grid grid-cols-1 gap-4 md:grid-cols-1 lg:grid-cols-2 mt-5 place-content-center">
			Perrera
		</div>
	</div>
</BaseLayout>
