---
import BaseLayout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

const imagePath = '/src/assets/images/pets_adopt_header.png';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}')

if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<BaseLayout title="cansecadelas.org">
	<div class="w-full mx-auto max-w-screen-xl">
		<div class="grid grid-cols-3 gap-4">
			<div class="col-span-1">
				<Image src={images[imagePath]()} alt="" width={400}/>
			</div>
			<div class="col-span-2 flex justify-center items-center h-full p-6">
				<div class="text-left">
				  <h1 class="lg:text-7xl text-5xl text-blue-700 font-bold">Adopta, no compres</h1>
				  <h2 class="lg:text-1xl text-xl mt-3">Nuestra misión es ayudar a los animales abandonados a encontrar un hogar</h2>
				  <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				  <div class="mt-10">
				  	<a href="/adoptar" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded">Adoptar</a>
				  </div>
				</div>
			</div>			  
		</div>
	</div>
</BaseLayout>
