<footer>
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm font-bold text-blue-900 sm:text-center ml-5">
            Desarrollado con
            <a href="https://astro.build/" class="underline hover:text-cyan-500" target="_blank">Astro</a>, 
            <a href="https://tailwindcss.com/" class="underline hover:text-cyan-500" target="_blank">Tailwind CSS</a> 
            y <a href="https://flask.palletsprojects.com/" class="underline hover:text-cyan-500" target="_blank">Flask</a>
        </span>
        <div class="flex flex-wrap items-center mt-3 text-sm text-blue-900 sm:mt-0 mr-5 font-bold">
            Todas las ilustraciones diseñadas por&nbsp;<a href="https://www.freepik.es/" class="underline hover:text-cyan-500" target="_blank">FreePick</a>
        </div>
    </div>
</footer>
