<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            Desarrollado con
            <a href="https://astro.build/" class="hover:underline" target="_blank">Astro</a>, 
            <a href="https://tailwindcss.com/" class="hover:underline" target="_blank">Tailwind CSS</a> 
            y <a href="https://flask.palletsprojects.com/" class="hover:underline" target="_blank">Flask</a>
        </span>
        <div class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            Todas las ilustraciones diseñadas por <a href="https://www.freepik.es/" class="hover:underline" target="_blank">FreePick</a>
        </div>
    </div>
</footer>
